<!-- NAVIGATION -->

<nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">STEM News</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Archives</a></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Categories <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#">News</a></li>
          <li><a href="#">Student Life</a></li>
          <li><a href="#">Opinion</a></li>
          <li><a href="#">Community</a></li>
        </ul>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#">Submit Post</a></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Actions<b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#">Edit Articles</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li><a href="#">Separated link</a></li>
        </ul>
      </li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>

<!-- HEADER -->

<img class="header-image" src="assets/stemnewsheader.jpg"/>

<div class="main-body">
<div class="main-background">

<div class="container">

<div class="row">
  <div class="admin-articles">
  <div class="col-md-4">
  		<h1>Editor's Guide</h1>
  </div>
  <div class="col-md-4">
		<h1>Not Edited</h1><br><br>
		<% i = 0 %>
		<% @post.each do |post| %>
			<%  if post.edited != 1 %>
				<% i += 1 %>
				<p><strong><%= post.title %></strong></p>
				<p>By: <%= post.author%></p>
				<p><a class="thumbnail"><%= image_tag post.image_url.to_s %></a></p>
				<p><%= post.summary%></p>
				<%= link_to 'Edit', edit_post_path(post) %>
				<%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' } %>
				<br><br><br><br>
			<% end %>
		<% end %>
		<% if i == 0 %>
			<p>All articles have been edited.</p>
		<% end %>
  </div>
  <div class="col-md-4">
  		<h1>Published</h1><br><br>
		<% @post.reverse.each do |post| %>
			<%  if post.edited == 1 %>
				<p><strong><%= post.title %></strong></p>
				<p>By: <%= post.author%></p>
				<p><a class="thumbnail"><%= image_tag post.image_url.to_s %></a></p>
				<p><%= post.summary%></p>
				<%= link_to 'Edit', edit_post_path(post) %>
				<%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' } %>
				<br><br><br><br>
			<% end %>
		<% end %>
  </div>
  </div>
  
</div>
</div>
</div>
</div>

