<!-- NAVIGATION -->

<nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand">STEM News</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
      <li class="active"><a href="<%= posts_path %>">Home</a></li>
      <li><a href="/archives">Archives</a></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Categories <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="/news">News</a></li>
          <li><a href="/studentlife">Student Life</a></li>
          <li><a href="/opinion">Opinion</a></li>
          <li><a href="/community">Community</a></li>
        </ul>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/posts/new">Submit Post</a></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Actions<b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="/admin">Edit Articles</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li><a href="#">Separated link</a></li>
        </ul>
      </li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>

<!-- HEADER -->

<img class="header-image visible-lg" src="assets/stemnewsheader.jpg"/>

<div class="main-body">
<div class="main-background">

<div class="media-fix hidden-lg"></div>

<!-- PRIMARY ARTICLE -->

<div class="articles">

<% @posts.reverse.each do |post| %>

<% if post.edited != 1 %>
	<% next %>
<% end %>

<div class="row">
	<div class="col-md-4">
		<div class="post-main post-large visible-lg">
			<p><a class="thumbnail hidden-xs hidden-sm"><%= image_tag post.image_url.to_s %></a></p>
			<h2><strong><%= post.title %></strong></h2>
			<p>By: <%= post.author %></p>
			<p><%= post.summary %></p>
			<div class="post-options">
			  <%= link_to 'Read More', post %>
			</div>
		</div>
		<div class="post-main post-small hidden-lg">
			<p><a class="thumbnail hidden-xs hidden-sm"><%= image_tag post.image_url.to_s %></a></p>
			<h2><strong><%= post.title %></strong></h2>
			<p>By: <%= post.author %></p>
			<p><%= post.summary %></p>
			<div class="post-options">
			  <%= link_to 'Read More', post %>
			</div>
		</div>
	</div>
	
<% break %>
<% end %>

<!-- NEWS CATEGORY -->
<div class="col-md-4">
<p><strong> News </strong></p>

<% i = 0 %>

<% @posts.reverse.each do |post| %>

<% i += 1 %>

<% if post.edited != 1 || post.category != "News" %>
  <% i -= 1 %>
  <% next %>
<% end %>

<% if i ==1 %>
  <% next %>
<% end %>

<% if i > 3 %>
  <% break %>
<% end %>

	<div class="post post-news">
	  <p><a class="thumbnail"><%= image_tag post.image_url.to_s %></a></p>
	  <p><strong><%= post.title %></strong></p>
	  <p>By: <%= post.author %></p>
	  <p><%= post.summary %></p>
	  <div class="post-options">
		<%= link_to 'Read More', post %>
	  </div>
	</div><br>

<% end %>
</div>


<!-- STUDENT LIFE CATEGORY -->
<div class="col-md-4">
<p><strong> Student Life </strong></p>

<% i = 0 %>

<% @posts.reverse.each do |post| %>

<% i += 1 %>

<% if i == 1 %>
  <% next %>
<% end %>

<% if i > 3 %>
  <% break %>
<% end %>

<% if post.edited != 1 || post.category != "Student Life" %>
  <% i -= 1 %>
  <% next %>
<% end %>

	<div class="post post-studentlife">
	  <p><a class="thumbnail"><%= image_tag post.image_url.to_s %></a></p>
	  <p><strong><%= post.title %></strong></p>
	  <p>By: <%= post.author %></p>
	  <p><%= post.summary %></p>
	  <div class="post-options">
		<%= link_to 'Read More', post %>
	  </div>
	</div><br>

<% end %>
</div>

</div>
<div class="row">

<!-- OPINION CATEGORY -->
<div class="col-md-4">
<p><strong> Opinion </strong></p>

<% i = 0 %>

<% @posts.reverse.each do |post| %>

<% i += 1 %>

<% if i == 1 %>
  <% next %>
<% end %>

<% if i > 3 %>
  <% break %>
<% end %>

<% if post.edited != 1 || post.category != "Opinion" %>
  <% i -= 1 %>
  <% next %>
<% end %>

	<div class="post post-opinion">
	  <p><a class="thumbnail"><%= image_tag post.image_url.to_s %></a></p>
	  <p><strong><%= post.title %></strong></p>
	  <p>By: <%= post.author %></p>
	  <p><%= post.summary %></p>
	  <div class="post-options">
		<%= link_to 'Read More', post %>
	  </div>
	</div><br>

<% end %>
</div>

<!-- COMMUNITY CATEGORY -->
<div class="col-md-4">
<p><strong> Community </strong></p>

<% i = 0 %>

<% @posts.reverse.each do |post| %>

<% i += 1 %>

<% if i == 1 %>
  <% next %>
<% end %>

<% if i > 3 %>
  <% break %>
<% end %>

<% if post.edited != 1 || post.category != "Community" %>
  <% i -= 1 %>
  <% next %>
<% end %>

	<div class="post post-community">
	  <p><a class="thumbnail"><%= image_tag post.image_url.to_s %></a></p>
	  <p><strong><%= post.title %></strong></p>
	  <p>By: <%= post.author %></p>
	  <p><%= post.summary %></p>
	  <div class="post-options">
		<%= link_to 'Read More', post %>
	  </div>
	</div><br>

<% end %>
</div>

<!-- ARCHIVES CATEGORY -->
<div class="col-md-4">
<p><strong> Archives </strong></p>

<% i = 0 %>

<% @posts.reverse.each do |post| %>

<% i += 1 %>

<% if i == 1 %>
  <% next %>
<% end %>

<% if i > 3 %>
  <% break %>
<% end %>

<% if post.edited != 1 || post.category != "Archives" %>
  <% i -= 1 %>
  <% next %>
<% end %>

	<div class="post post-archives">
	  <p><a class="thumbnail"><%= image_tag post.image_url.to_s %></a></p>
	  <p><strong><%= post.title %></strong></p>
	  <p>By: <%= post.author %></p>
	  <p><%= post.summary %></p>
	  <div class="post-options">
		<%= link_to 'Read More', post %>
	  </div>
	</div><br>

<% end %>
</div>

</div>

<div class="post-options"><a href="/posts/new">Submit Post</a></div>
<div class="post-options"><a href="/admin">Editor Sign-in</a></div>

</div>
</div>
</div>


