<!-- HEADER -->

<img class="header-image" src="assets/stemnewsheader.jpg"/>

<div class="main-body">
<div class="main-background">

<!-- NAVIGATION -->

<ul class="nav nav-tabs">
  <li class="active"><a href="#">Home</a></li>
  <li><a href="#">News</a></li>
  <li><a href="#">Student Life</a></li>
  <li><a href="#">Opinion</a></li>
  <li><a href="#">Community</a></li>
  <li><a href="#">Archives</a></li>
</ul>
</br>
</br>
</br>

<!-- PRIMARY ARTICLES -->

<div class="articles">

<% @posts.reverse.each do |post| %>

<% if post.edited != 1 %>
	<% next %>
<% end %>

<div class="row">
	<div class="col-md-4">
		<div class="post post-1">
			<p><strong><%= post.title %></strong></p>
			<p>By: <%= post.author %></p>
			<p><a class="thumbnail"><%= image_tag post.image_url.to_s %></a></p>
			<p><%= post.summary %></p>
			<div class="post-options">
			  <%= link_to 'Read More', post %>
			</div>
	</div></br></br>
	</div>
	
<% break %>
<% end %>

<!-- NEWS CATEGORY -->
<div class="col-md-4">
<p><strong> News </strong></p>

<% i = 0 %>

<% @posts.reverse.each do |post| %>

<% i += 1 %>

<% if i ==1 %>
  <% next %>
<% end %>

<% if i > 3 %>
  <% break %>
<% end %>

<% if post.edited != 1 || post.category != "News" %>
  <% i -= 1 %>
  <% next %>
<% end %>

	<div class="post post-news">
	  <p><a class="thumbnail"><%= image_tag post.image_url.to_s %></a></p>
	  <p><strong><%= post.title %></strong></p>
	  <p>By: <%= post.author %></p>
	  <p><%= post.summary %></p>
	  <div class="post-options">
		<%= link_to 'Read More', post %>
	  </div>
	</br>
	</br>
	</div>

<% end %>
</div>


<!-- STUDENT LIFE CATEGORY -->
<div class="col-md-4">
<p><strong> Student Life </strong></p>

<% i = 0 %>

<% @posts.reverse.each do |post| %>

<% i += 1 %>

<% if i == 1 %>
  <% next %>
<% end %>

<% if i > 3 %>
  <% break %>
<% end %>

<% if post.edited != 1 || post.category != "Student Life" %>
  <% i -= 1 %>
  <% next %>
<% end %>

	<div class="post post-news">
	  <p><a class="thumbnail"><%= image_tag post.image_url.to_s %></a></p>
	  <p><strong><%= post.title %></strong></p>
	  <p>By: <%= post.author %></p>
	  <p><%= post.summary %></p>
	  <div class="post-options">
		<%= link_to 'Read More', post %>
	  </div>
	</br>
	</br>
	</div>

<% end %>
</div>

</div>
<div class="row">

<!-- OPINION CATEGORY -->
<div class="col-md-4">
<p><strong> Opinion </strong></p>

<% i = 0 %>

<% @posts.reverse.each do |post| %>

<% i += 1 %>

<% if i == 1 %>
  <% next %>
<% end %>

<% if i > 3 %>
  <% break %>
<% end %>

<% if post.edited != 1 || post.category != "Opinion" %>
  <% i -= 1 %>
  <% next %>
<% end %>

	<div class="post post-news">
	  <p><a class="thumbnail"><%= image_tag post.image_url.to_s %></a></p>
	  <p><strong><%= post.title %></strong></p>
	  <p>By: <%= post.author %></p>
	  <p><%= post.summary %></p>
	  <div class="post-options">
		<%= link_to 'Read More', post %>
	  </div>
	</br>
	</br>
	</div>

<% end %>
</div>

<!-- COMMUNITY CATEGORY -->
<div class="col-md-4">
<p><strong> Community </strong></p>

<% i = 0 %>

<% @posts.reverse.each do |post| %>

<% i += 1 %>

<% if i == 1 %>
  <% next %>
<% end %>

<% if i > 3 %>
  <% break %>
<% end %>

<% if post.edited != 1 || post.category != "Community" %>
  <% i -= 1 %>
  <% next %>
<% end %>

	<div class="post post-news">
	  <p><a class="thumbnail"><%= image_tag post.image_url.to_s %></a></p>
	  <p><strong><%= post.title %></strong></p>
	  <p>By: <%= post.author %></p>
	  <p><%= post.summary %></p>
	  <div class="post-options">
		<%= link_to 'Read More', post %>
	  </div>
	</br>
	</br>
	</div>

<% end %>
</div>

<!-- ARCHIVES CATEGORY -->
<div class="col-md-4">
<p><strong> Archives </strong></p>

<% i = 0 %>

<% @posts.reverse.each do |post| %>

<% i += 1 %>

<% if i == 1 %>
  <% next %>
<% end %>

<% if i > 3 %>
  <% break %>
<% end %>

<% if post.edited != 1 || post.category != "Archives" %>
  <% i -= 1 %>
  <% next %>
<% end %>

	<div class="post post-news">
	  <p><a class="thumbnail"><%= image_tag post.image_url.to_s %></a></p>
	  <p><strong><%= post.title %></strong></p>
	  <p>By: <%= post.author %></p>
	  <p><%= post.summary %></p>
	  <div class="post-options">
		<%= link_to 'Read More', post %>
	  </div>
	</br>
	</br>
	</div>

<% end %>
</div>

</div>

<div class="post-options"><a href="/posts/new">Submit Post</a></div>
<div class="post-options"><a href="/admin">Editor Sign-in</a></div>

</div>
</div>
</div>


