<!-- NAVIGATION -->

<div class="nav-header">
  
</div>

<nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
      <li><div class="logo">STEM News</div></li>
      <li class="active nav-home"><a href="<%= posts_path %>">HOME</a></li>
	  <li class="nav-news"><a href="/news">NEWS</a></li>
	  <li class="nav-studentlife"><a href="/studentlife">STUDENT LIFE</a></li>
	  <li class="nav-opinion"><a href="/opinion">OPINION</a></li>
	  <li class="nav-community"><a href="/community">COMMUNITY</a></li>
      <li class="nav-archives"><a href="/archives">ARCHIVES</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a class="nav-top-border" href="/posts/new">SUBMIT POST</a></li>
      <li class="nav-top-border dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">ACTIONS<b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="/admin">Edit Articles</a></li>
        </ul>
      </li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>

<!-- HEADER -->

<div class="header-image visible-lg"></div>

<div class="main-body">
<div class="main-background">

<div class="container">
<div class="content-wrapper">

<!-- PRIMARY ARTICLE -->

<div class="articles">

<% @posts.reverse.each do |post| %>

<% if post.edited != 1 %>
	<% next %>
<% end %>

<div class="row">
	<div class="col-md-4">
		<div class="post-main post-large visible-lg">
			<p><a class="thumbnail hidden-xs hidden-sm" href="posts/<%= post.id %>"><%= image_tag post.image_url.to_s %></a></p>
			<h2><strong><%= post.title %></strong></h2>
			<p>By: <%= post.author %></p>
			<p><%= post.summary %></p>
			<div class="post-options">
			  <%= link_to 'Read More', post %>
			</div>
		</div>
		<div class="post-main post-small hidden-lg">
			<p><a class="thumbnail hidden-xs hidden-sm"><%= image_tag post.image_url.to_s %></a></p>
			<h2><strong><%= post.title %></strong></h2>
			<p>By: <%= post.author %></p>
			<p><%= post.summary %></p>
			<div class="post-options">
			  <%= link_to 'Read More', post %>
			</div>
		</div>
	</div>
	
<% break %>
<% end %>

<!-- NEWS CATEGORY -->
<div class="col-md-4">
<p><a class="category-news" href="/news"><strong> News </strong></a></p>

<% i = 0 %>

<% @posts.reverse.each do |post| %>

<% i += 1 %>

<% if post.edited != 1 || post.category != "News" %>
  <% i -= 1 %>
  <% next %>
<% end %>

<% if i ==1 %>
  <% next %>
<% end %>

<% if i > 3 %>
  <% break %>
<% end %>

	<div class="post post-news">
	  <p><a href="posts/<%= post.id %>" class="thumbnail"><%= image_tag post.image_url.to_s %></a></p>
	  <p><strong><%= post.title %></strong></p>
	  <p>By: <%= post.author %></p>
	  <p><%= post.summary %></p>
	  <div class="post-options">
		<a class="category-news" href="posts/<%= post.id %>">Read More</a>
	  </div>
	</div><br>

<% end %>
</div>


<!-- STUDENT LIFE CATEGORY -->
<div class="col-md-4">
<p><a class="category-studentlife" href="/studentlife"><strong> Student Life </strong></a></p>

<% i = 0 %>

<% @posts.reverse.each do |post| %>

<% i += 1 %>

<% if i == 1 %>
  <% next %>
<% end %>

<% if i > 3 %>
  <% break %>
<% end %>

<% if post.edited != 1 || post.category != "Student Life" %>
  <% i -= 1 %>
  <% next %>
<% end %>

	<div class="post post-studentlife">
	  <p><a href="posts/<%= post.id %>" class="thumbnail"><%= image_tag post.image_url.to_s %></a></p>
	  <p><strong><%= post.title %></strong></p>
	  <p>By: <%= post.author %></p>
	  <p><%= post.summary %></p>
	  <div class="post-options">
		<a class="category-studentlife" href="posts/<%= post.id %>">Read More</a>
	  </div>
	</div><br>

<% end %>
</div>

</div>
<div class="row-divider"></div>
<div class="row">

<!-- OPINION CATEGORY -->
<div class="col-md-4">
<p><a class="category-opinion" href="/opinion"><strong> Opinion </strong></a></p>

<% i = 0 %>

<% @posts.reverse.each do |post| %>

<% i += 1 %>

<% if i == 1 %>
  <% next %>
<% end %>

<% if i > 3 %>
  <% break %>
<% end %>

<% if post.edited != 1 || post.category != "Opinion" %>
  <% i -= 1 %>
  <% next %>
<% end %>

	<div class="post post-opinion">
	  <p><a href="posts/<%= post.id %>" class="thumbnail"><%= image_tag post.image_url.to_s %></a></p>
	  <p><strong><%= post.title %></strong></p>
	  <p>By: <%= post.author %></p>
	  <p><%= post.summary %></p>
	  <div class="post-options">
		<a class="category-opinion" href="posts/<%= post.id %>">Read More</a>
	  </div>
	</div><br>

<% end %>
</div>

<!-- COMMUNITY CATEGORY -->
<div class="col-md-4">
<p><a class="category-community" href="/community"><strong> Community </strong></a></p>

<% i = 0 %>

<% @posts.reverse.each do |post| %>

<% i += 1 %>

<% if i == 1 %>
  <% next %>
<% end %>

<% if i > 3 %>
  <% break %>
<% end %>

<% if post.edited != 1 || post.category != "Community" %>
  <% i -= 1 %>
  <% next %>
<% end %>

	<div class="post post-community">
	  <p><a href="posts/<%= post.id %>" class="thumbnail"><%= image_tag post.image_url.to_s %></a></p>
	  <p><strong><%= post.title %></strong></p>
	  <p>By: <%= post.author %></p>
	  <p><%= post.summary %></p>
	  <div class="post-options">
		<a class="category-community" href="posts/<%= post.id %>">Read More</a>
	  </div>
	</div><br>

<% end %>
</div>

<!-- ARCHIVES CATEGORY -->
<div class="col-md-4">
<p><a class="category-archives" href="/archives"><strong> Archives </strong></a></p>

<% i = 0 %>

<% @posts.reverse.each do |post| %>

<% i += 1 %>

<% if i == 1 %>
  <% next %>
<% end %>

<% if i > 3 %>
  <% break %>
<% end %>

<% if post.edited != 1 || post.category != "Archives" %>
  <% i -= 1 %>
  <% next %>
<% end %>

	<div class="post post-archives">
	  <p><a href="posts/<%= post.id %>" class="thumbnail"><%= image_tag post.image_url.to_s %></a></p>
	  <p><strong><%= post.title %></strong></p>
	  <p>By: <%= post.author %></p>
	  <p><%= post.summary %></p>
	  <div class="post-options">
		<a class="category-archives" href="posts/<%= post.id %>">Read More</a>
	  </div>
	</div><br>

<% end %>
</div>

</div>
</div>
</div>
</div>

<!-- Closing container and content-wrapper divs -->
</div>
</div>


