<!-- HEADER -->

<img class="header-image" src="assets/stemnewsheader.jpg"/>

<div class="main-body">
<div class="main-background">

<!-- NAVIGATION -->

<ul class="nav nav-tabs">
  <li class="active"><a href="#">Home</a></li>
  <li><a href="#">News</a></li>
  <li><a href="#">Student Life</a></li>
  <li><a href="#">Opinion</a></li>
  <li><a href="#">Community</a></li>
  <li><a href="#">Archives</a></li>
</ul>
</br>
</br>
</br>

<!-- ARTICLES -->

<div class="articles">

<% i = 0 %>
<% @posts.reverse.each do |post| %>
<% i += 1 %>
<% if i >= 7 %>
  <% break %>
<% end %>
<% if post.edited != 1 %>
  <% i -= 1 %>
  <% next %>
<% end %>

<% case i %>
<% when 1 %>
  <div class="row">
  <div class="col-md-6">
	<div class="post post-<%= i %>">
	  <p><strong><%= post.title %></strong></p>
	  <p>By: <%= post.author %></p>
	  <p><a class="thumbnail"><%= image_tag post.image_url.to_s %></a></p>
	  <p><%= post.summary %></p>
	  <div class="post-options">
		<%= link_to 'Read More', post %>
	  </div>
	  </br>
	  </br>
	</div>
  </div>

<% when 2 %>
  <div class="col-md-6">
	<div class="post post-<%= i %>">
	  <p><strong><%= post.title %></strong></p>
	  <p>By: <%= post.author %></p>
	  <p><%= post.summary %></p>
	  <div class="post-options">
		<%= link_to 'Read More', post %>
	  </div>
  </br>
  </br>
  </div>

<% when 3 %>
	<div class="post post-<%= i %>">
	  <p><strong><%= post.title %></strong></p>
	  <p>By: <%= post.author %></p>
 	  <p><%= post.summary %></p>
	  <div class="post-options">
		<%= link_to 'Read More', post %>
	  </div>
  </br>
  </br>
  </div>
  </div>
  </div>

<% when 4 %>
  <div class="row">
  <div class="col-md-6">
	<div class="post post-<%= i %>">
	  <p><strong><%= post.title %></strong></p>
	  <p>By: <%= post.author %></p>
	  <p><%= post.summary %></p>
	  <div class="post-options">
		<%= link_to 'Read More', post %>
	  </div>
	  </br>
	  </br>
	</div>

<% when 5 %>
	<div class="post post-<%= i %>">
	  <p><strong><%= post.title %></strong></p>
	  <p>By: <%= post.author %></p>
	  <p><%= post.summary %></p>
	  <div class="post-options">
		<%= link_to 'Read More', post %>
	  </div>
	  </br>
	  </br>
	</div>
  </div>

<% when 6 %>
  <div class="col-md-6">
	<div class="post post-<%= i %>">
	  <p><strong><%= post.title %></strong></p>
	  <p>By: <%= post.author %></p>
	  <p><a class="thumbnail"><%= image_tag post.image_url.to_s %></a></p>
	  <p><%= post.summary %></p>
	  <div class="post-options">
		<%= link_to 'Read More', post %>
	  </div>
	  </br>
	  </br>
	</div>
  </div>
  </div>

<% end %>
<% end %>

</div>
</div>

<div class="post-options"><a href="/posts/new">Submit Post</a></div>
<div class="post-options"><a href="/admin">Editor Sign-in</a></div>

</div>
